# The total number of votes cast
# A complete list of candidates who received votes
# The percentage of votes each candidate won
# The total number of votes each candidate won
# The winner of the election based on popular vote

In [1]:
import pandas as pd
import numpy as np

In [2]:
%cd clean_class_repo

[WinError 2] The system cannot find the file specified: 'clean_class_repo'
C:\Users\isabe\Desktop\clean_class_repo\02-Homework\03-Python\Instructions\PyPoll

In [3]:
!ls

Python Homework.ipynb
raw_data
Untitled.ipynb
Untitled1.ipynb

In [4]:
%cd '02-Homework'

[WinError 2] The system cannot find the file specified: "'02-Homework'"
C:\Users\isabe\Desktop\clean_class_repo\02-Homework\03-Python\Instructions\PyPoll

In [5]:
!ls 02-Homework

ls: cannot access '02-Homework': No such file or directory

In [6]:
% cd 02-Homework

[WinError 2] The system cannot find the file specified: '02-Homework'
C:\Users\isabe\Desktop\clean_class_repo\02-Homework\03-Python\Instructions\PyPoll

In [7]:
% cd 03-Python

[WinError 2] The system cannot find the file specified: '03-Python'
C:\Users\isabe\Desktop\clean_class_repo\02-Homework\03-Python\Instructions\PyPoll

In [8]:
% cd raw_data

C:\Users\isabe\Desktop\clean_class_repo\02-Homework\03-Python\Instructions\PyPoll\raw_data

In [9]:
data1 = pd.read_csv('election_data_1.csv')

In [10]:
data1.head()

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [11]:
data2 = pd.read_csv('election_data_2.csv')
data2.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [12]:
#DataAll

data_all = data1.append(data2)
data_all.head()

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [19]:
 #The total number of votes cast

data_counts = data_all.groupby(['County', 'Candidate']).count()
data_counts.head()

                  Voter ID
County Candidate
Arrent Cordin         1196
       Seth           1951
       Torres        17662
       Vestal        19341
Bamoo  Correy        69752

In [27]:
 #A complete list of candidates who received votes

data_all.loc[: , "Candidate"]

0            Vestal
1            Vestal
2            Vestal
3            Vestal
4            Vestal
5            Vestal
6            Torres
7            Torres
8            Vestal
9              Seth
10           Vestal
11           Torres
12           Torres
13           Vestal
14           Torres
15           Vestal
16           Cordin
17           Vestal
18           Vestal
19           Vestal
20           Torres
21           Torres
22           Torres
23           Torres
24           Vestal
25           Torres
26           Vestal
27           Torres
28           Torres
29           Vestal
             ...
3520971        Khan
3520972        Khan
3520973      Correy
3520974        Khan
3520975        Khan
3520976    O'Tooley
3520977        Khan
3520978      Correy
3520979        Khan
3520980    O'Tooley
3520981        Khan
3520982        Khan
3520983          Li
3520984        Khan
3520985        Khan
3520986      Correy
3520987        Khan
3520988          Li
3520989        Khan
3520990        Khan
3520991      Correy
3520992        Khan
3520993        Khan
3520994      Correy
3520995      Correy
3520996        Khan
3520997        Khan
3520998        Khan
3520999        Khan
3521000    O'Tooley
Name: Candidate, Length: 4324001, dtype: object